/* //Flight Stats  */

.flightStats {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.flightStats h3 {
  color: #444444;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.flightStats .subInfo {
  color: #757575;
}

.flightStats .imgWrapper {
  margin-right: 6px;
}

.flightStats .planeIcon {
  transform: rotate(180deg);
}

/* Main Flight list */
.mainFlightList {
  border: 1px solid #575757;
  padding: 5px 8px;
}

.mainFlightListing li {
  border: 1px solid #575757;
  padding: 20px 10px;
  justify-content: space-around;
}

.mainFlightListing>li {
  margin: 10px 0;
  width: 98%;
}

.mainFlightListing .price {
  color: #d07056;
}

.mainFlightListing .detailsAnchor {
  color: #6272e7;
}

.mainFlightListing .flightInfo span {
  color: #575757;
}

/* /sub Flight list/ */
.subFlightList {
  border-top: 1px solid #ccc;
  display: flex;
  width: 100%;
  order: 1;
  flex: 1 0 100%;
  margin: 10px 10px -20px -10px;
}

.subFlightList ul {
  flex-wrap: wrap;
  width: 100%;
}

.subFlightList li {
  background: #f5f4f6;
  justify-content: flex-start;
}

.subFlightList li:first-child {
  position: relative;
  border-bottom: 1.5px dotted #575757;
}

.subFlightList li:nth-child(2) {
  border-top: 1.5px dotted #575757;
}

.subFlightList .planeImg {
  width: 64px;
  height: 64px;
}

.subFlightList .layOverTime {
  background: #fff;
  color: #575757;
  border: 2px dotted #575757;
  font-size: 16px;
  padding: 8px;
  position: absolute;
  bottom: -18px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 160px;
}
