.mainHeading {
  font-size: 30px;
  font-weight: bold;
  margin: 10px auto;
}


.userForm {
  margin: 0 auto;
  width: 1000px;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

ul li {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.imgWrapper {
  display: flex;
  height: 50px;
  align-items: center;
}

.planeIcon {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.imgWrapper img {
  height: 100%;
  width: 100%;
}

.listInner {
  margin: 0 20px;
}

.listInner h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.showInner {
  border-top: 1px solid #ccc;
  display: flex;
  width: 100%;
  order: 1;
  flex: 1 0 100%;
}

.showInner ul {
  flex-wrap: wrap;
}



/* //DATE picker CSS */

.datePickerWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 4px;
  border: 1px solid #6C6C6C;
  flex-wrap: wrap;
  margin: 20px 0 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.datePickerWrapper .react-datepicker-wrapper {
  margin-right: 14px;
  padding: 7px 0 7px 7px;
  border-right: 1px solid #6C6C6C;
  width: 80%;
}

.datePickerWrapper .datePicker {
  font-size: 14px;
  border: none;
}


.datePickerWrapper .datePicker:focus {
  outline: none;
}


.datePickerWrapper .calender {
  border-left: 1px solid #6C6C6C;
  position: absolute;
  right: 0;
}

/* // common css */

.green {
  color: green;
}

.button {
  width: 80px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #cc404e;
  opacity: 1;
  transition: all 1s linear;
}


.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.blueBtn {
  width: 100px;
  background-color: #3B7CCC;
  color: #fff;
  border: 1px solid #3B7CCC;
}


/* Tab CSS */
.tab {
  width: 23%;
  border: 1px solid #6C6C6C;
  border-radius: 2px;
  border-bottom: none;
}

.tab .button {
  background-color: #fff;
  color: #6C6C6C;
  width: 50%;
  border-radius: 0;
}

.tab .active {
  background-color: blue;
  color: #fff;
}


/* class="flightFiltetWrap" */

.flightFiltetWrap {
  width: 25%;
  border: 2px solid#6C6C6C;
  padding: 0 6px 10px;
}

/* //Flight Stats  */

.flightStats {
  display: flex;
  align-items: center;
}


/* price Filter */

.priceFilter {
  margin: 30px 0;
  padding: 10px;
  text-align: center;
}

.priceFilter h5 {
  font-size: 20px;
  margin-bottom: 30px;
}

.priceFilter .input-range {
  width: 70%;
  margin: 20px auto 20px 12px;
}

.priceFilter .input-range__slider {
  background: blue;
  border: 1px solid blue;
}

.priceFilter .input-range__track--active {
  background: blue;
}

/* SELCT TAGS */

.customSelect {
  margin: 20px 0;
}


/* //Custom CSS for Select Tag */

.customSelect .css-g1d714-ValueContainer,
.customSelect .css-9gakcf-option,
.customSelect .css-1n7v3ny-option,
.customSelect .css-tlfecz-indicatorContainer {
  cursor: pointer;
}

.customSelect .css-yk16xz-control {
  cursor: pointer;
  border: 1px solid gray;
}

.customSelect .css-yk16xz-control :focus,
.customSelect .css-yk16xz-control:hover {
  cursor: pointer;
  border: 1px solid gray;
}
