.mainHeading {
  font-size: 30px;
  font-weight: bold;
  margin: 10px auto;
}

.userForm {
  margin: 0 auto;
  width: 1000px;
}

/* //DATE picker CSS */

.datePickerWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 4px;
  border: 1px solid #757575;
  flex-wrap: wrap;
  margin: 20px 0 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.datePickerWrapper .react-datepicker-wrapper {
  margin-right: 14px;
  padding: 7px 0 7px 7px;
  border-right: 1px solid #757575;
  width: 80%;
}

.datePickerWrapper .datePicker {
  font-size: 14px;
  border: none;
}

.datePickerWrapper .datePicker:focus {
  outline: none;
}

.datePickerWrapper .calender {
  border-left: 1px solid #757575;
  position: absolute;
  right: 0;
}

/* // common css */

.green {
  color: #83a974;
}

.button {
  width: 80px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #be635b;
  opacity: 1;
  transition: all 1s linear;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.blueBtn {
  width: 100px;
  background-color: #3b7ccc;
  color: #fff;
  border: 1px solid #3b7ccc;
}

/* Tab CSS */
.tab {
  width: 22%;
  border: 1px solid #757575;
  border-radius: 3px;
  border-bottom: none;
}

.tab .button {
  background-color: #fff;
  color: #757575;
  width: 50%;
  padding: 12px;
  border: 1px solid #757575;
  border-bottom: none;
  border-radius: 0;
}

.tab .active {
  color: #fff;
  background-color: #549be4;
}

/* class="flightFiltetWrap" */

.flightFiltetWrap {
  width: 25%;
  border: 2px solid #757575;
  padding: 0 6px 10px;
}

/* price Filter */

.priceFilter {
  margin: 30px 0;
  padding: 10px;
  text-align: center;
}

.priceFilter h5 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 30px;
}

.priceFilter .input-range {
  width: 70%;
  margin: 20px auto 20px 12px;
}

.priceFilter .input-range__slider {
  background: blue;
  border: 1px solid blue;
}

.priceFilter .input-range__track--active {
  background: blue;
}

/* SELCT TAGS */

.customSelect {
  margin: 20px 0;
}

/* //Custom CSS for Select Tag */

.customSelect .css-g1d714-ValueContainer,
.customSelect .css-9gakcf-option,
.customSelect .css-1n7v3ny-option,
.customSelect .css-tlfecz-indicatorContainer {
  cursor: pointer;
}

.customSelect .css-yk16xz-control {
  cursor: pointer;
  border: 1px solid gray;
}

.customSelect .css-yk16xz-control :focus,
.customSelect .css-yk16xz-control:hover {
  cursor: pointer;
}

.customSelect .css-tlfecz-indicatorContainer,
.customSelect .css-tlfecz-indicatorContainer:hover {
  color: #191919;
}
