/* body {
  font-family: Roboto Slab;
  background: linear-gradient(-150deg, #24c7f9, #07b0e3);
}

h1 {
  padding: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}

.wrap {
  font-size: 200%;
  padding: 50px;
  margin: 50px auto;
  border-radius: 5px;
  background: #fefefe;
  width: 80%;
  text-align: center;
  box-shadow: 0 0 10px rgba(6, 157, 203, 0.5);
}

.input {
  padding: 0 10px 0 36px;
  height: 45px;
  margin-right: 20px;
  width: 25%;
  font-size: 16px;
  color: #737373;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #3883fa;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button {
  color: #fff7f7;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  background: #3dbd4f;
  padding: 9px 5px;
  transition: transform 60ms ease-out;
  margin: 0 10px;
  width: 140px;
  border: 2px solid transparent;
  font-size: 20px;
}

input:focus {
  outline: #fff;
}

.deleteBtn {
  background-color: #e15555;
}

.editBtn {
  background-color: #3883fa;
}

.toDolist {
  margin-top: 30px;
}

.toDolistItem {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #24c7f9;
  border-color: #b8daff;
  text-align: left;
  padding: 12px 20px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.toDolistText {
  flex-grow: 1;
} */
